#body-admin, #body-editTask, 
#body-dettaglioTicket, #body-creaTask {
    background-image: url('/img/Idraulica.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

#h1-admin, #h2-admin{
    color: blue;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

#no-ticket{
    background-color: blue;
    color: white;
    width: 70%;
    height: 120px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: blue !important;
}
